/* General styles */
html {
  box-sizing: border-box;
}

body {
    margin: 1.5rem;
}


/* General font styling */
@font-face {
    font-family: Yrsa;
    src: url(assets/fonts/Yrsa/Yrsa-VariableFont_wght.ttf) format('ttf');
}

@font-face {
    font-family: Economica;
    src:    url(/assets/fonts/Economica/Economica-Regular.ttf) format('ttf'),
            url(/assets/fonts/Economica/Economica-Bold.ttf) format('ttf');
}

body {
    font-family: "Yrsa", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Economica", serif;
}


/* Header styling */
body > header {
    display: flex;
    justify-content: space-between;
}

body > header .menu-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

body > header .menu-left .menu-items {
    display: flex;
    gap: 3rem;
}