/* General styles - Remedies */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
}

section {
    padding: 1.5rem;
}


/* General font styling */
@font-face {
    font-family: Yrsa;
    src: url(assets/fonts/Yrsa/Yrsa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Economica;
    src: url(/assets/fonts/Economica/Economica-Regular.ttf),
        url(/assets/fonts/Economica/Economica-Bold.ttf);
}

:root {
    --body-font-size: 1rem;
    --body-font-size-m: clamp(1rem, 0.5208vw + 0.8958rem, 1.3125rem);
    --body-font-size-l: clamp(1rem, 0.7292vw + 0.8542rem, 1.4375rem);
    --heading-font-size: clamp(1.5rem, 1.6667vw + 1.1667rem, 2.5rem);
    --heading-font-size-l: clamp(1.75rem, 2.0833vw + 1.3333rem, 3rem);
}

body {
    font-family: "Yrsa", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Economica", serif;
}

a {
    text-decoration: unset;
}


/* Header styling */
body>header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #F3F3F6;

    .menu-left {
        display: flex;
        align-items: center;
        gap: 2rem;

        .menu-items {
            display: flex;
            gap: 3rem;
        }
    }

    .menu-right {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}


/* Breadcrumbs general */
ul.breadcrumbs {
    list-style-type: "";
    padding: 0;
    display: flex;
    gap: 1rem;

    * {
        font-size: var(--body-font-size);
        color: #1D194E;
    }

    li:last-child {
        font-weight: 700;
    }
}